<!--allqr.ejs-->
<!DOCTYPE html>
<html lang="en" >
<html>
    <head>
        <title><%= title %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/<%=appname%>/img/mrqrlogo.png">
		<script src='/<%=appname%>/script/jquery/jquery-ui-1.12.1.custom/external/jquery/jquery.js'></script>
		<script src='/<%=appname%>/script/jquery/jquery-ui-1.12.1.custom/jquery-ui.js'></script>
		<script src="/<%=appname%>/script/js/jquery.cookie.js"></script>
		<script src="/<%=appname%>/script/js/url.min.js"></script>
		<script src="/<%=appname%>/script/js/jquery.auto-complete.min.js"></script>
		<link rel="stylesheet" href="/<%=appname%>/style/style.css" /> 
		<link rel="stylesheet" href="/<%=appname%>/style/autocomplet.css" /> 
		<style>
			@font-face {
					font-family: THSarabunNew;
					font-weight: normal;
					font-style: normal;
					src: url("/<%=appname%>/font/THSarabunNew.ttf");
			}
			#title-form{text-align: center; border-radius: 25px; background: #73AD21;}
		</style>
    </head>
    <body>
		<h2 id= "welcome-user" style="text-align: center"><%= title %></h2>
		<h2 id= "title-form">รายการสร้างไฟล์พร้อมเพย์คิวอาร์โค้ด</h2>
		<div id="CommandForm">
			<div id="SubmitCommandBlock">
				<div class="SubmitCommand"  style="text-align: center;">
					<button onclick="doBrowseQRCode()">OK</button>
				</div>
			</div>
		</div>
		<div id="AllQRCodePictureLink"></div>
   </body>
</html>   

<script>

	function getQRCode(params){
		return new Promise(function(resolve, reject) {
			var url = "/api/line/home/allprmptpay";
			$.post(url, params, function(data){
				resolve(data);
			}).fail(function(error) { 
				console.log(JSON.stringify(error));
				reject(error); 
			});
		});
	}

	function doBrowseQRCode(){
		var params = {};
		getQRCode(params).then((files) => {
			//console.log(JSON.stringify(output));
			$("#AllQRCodePictureLink").empty();
			files.forEach((file)=>{
				$("#AllQRCodePictureLink").append("<a target='_blank' href='https://www.myshopman.com/api/line/download?imagename=" + file +"'><img width='50px' src='https://www.myshopman.com/api/line/download?imagename=" + file + "'/></a>");
			});
		});
	}
</script>